
.weui-textarea {
    font-size: .9em;
    padding: 0px;
    position: relative;
    min-height: 6em;
}

:host {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}
