
.weui-textarea {
    font-size: .9em;
    padding: 0px;
    position: relative;
}

:host {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    &:after {
        content: " ";
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0px;
        height: 1px;
        color: #ccc;
        background-color: #ccc;
        z-index: 2;
        transform: scaleY(0.5)
    }
}
